@model IEnumerable<CleanGuruApp.Models.Cleaner>

@{
    ViewData["Title"] = "Registerd Cleaner";
}

<h2>List of Registered Cleaners</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Cleaner's ID
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Sin Number
            </th>
            <th>
                Phone
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td id="FullName">
                @Html.DisplayFor(modelItem => item.IdCleaner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FCleanerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LCleanerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClSinNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClPhone1)
            </td>
        </tr>
        }
    </tbody>


</table>
