@model IEnumerable<CleanGuruApp.Models.ScheduleCleaner>

@{
    ViewData["Title"] = "Cleaner's Availability";
}

<h2>Cleaner's Availability</h2>

<p>
    <a asp-action="Create">Create New Availability</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCleaner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InitialTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinishTime)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCleaner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayWeek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InitialTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishTime)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.IdScheduleCleaner">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdScheduleCleaner">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdScheduleCleaner">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
