@*CONSIDER: Could be using a Partial view for the for letting just the buttons here. The Partial view (List) could be used to create a new or editing*@

@model Appointment

@{
    ViewData["Title"] = "CreateAppointment";
}
<script src="~/javascript/Service.js"></script>
<h2>Create Appointment</h2>

<div align="right">
    <a asp-action="Index" asp-controller="Home" class="warning" a>Cancel</a>
</div>

<form asp-controller="Appointment" asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Customer" class="control-label"></label>
        @Html.DropDownList("IdCustomer", ViewBag.CustList as List<SelectListItem>, new { @class = "form-control" })
    </div>

    @*<div class="form-group">
        <label asp-for="Customer" class="control-label">Address</label>
        @Html.DropDownList("IdCustomer", ViewBag.AddressList as List<SelectListItem>, new { @class = "form-control" })
    </div>*@
    
    <div class="form-group">
        <label asp-for="Cleaner" class="control-label"></label>
        @Html.DropDownList("IdCleaner", ViewBag.CLeanList as List<SelectListItem>, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label asp-for="ServicePrice">Service</label>
        @Html.DropDownList("IdServicePrice", ViewBag.ServiceList as List<SelectListItem>, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label asp-for="CtDateRequestService">Date of Service</label>
        <div>
            <input class="form-control" type="date" id="example-date-input" asp-for="CtDateRequestService" value="@ViewBag.finDate">
        </div>
    </div>

    <div class="form-group">
        <label asp-for="StartTime">Start Time of Service</label>
        <div>
            <input asp-for="StartTime" class="form-control" type="time"  
                id="example-time-input" value="07:00">
        </div>
    </div>

    <div class="form-group">
        <label asp-for="CtHoursRequested">Amount of Hours</label>
        <br />
        <div>
            <select asp-for="CtHoursRequested">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <input asp-for="IsSubscriptionCheck" name="IsSubscriptionCheck"
               type="checkbox">Subscription<br>
    </div>
    <div>
        <select asp-for="CustSub.Periodicity" id="Period">
            @*CAN NOT create a asp-for="" Different @model   ??????*@
            <option value="7">Weekly</option>
            <option value="14">Bi-Weekly</option>             @*CAN NOT create a asp-for="" Different @model   ??????*@
            <option value="30">Monthly</option>             @*CAN NOT create a asp-for="" Different @model   ??????*@
        </select>
    </div>
    <div class="form-group">
        <label asp-for="CustSub.FinishDate" id="FinDateLab">End Date of Subscription</label>
        <div>
            <input asp-for="CustSub.FinishDate" class="form-control" type="date" id="FinDateInp" value="@ViewBag.finDate">
        </div>
    </div>

    @*<div class="form-group">
            <label asp-for="CleanerRate" id="RateLab">Rate for test - Delete later</label>
            <input asp-for="CleanerRate" id="RateInp" class="form-control" />
        </div>*@
    <button asp-controller="Appointment" asp-action="CreateAppointment"
            class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Save
    </button>
</form>


