@model IEnumerable<Appointment>


@{
    ViewData["Title"] = "FutureAppointment";
}

<h2>Future Services</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdAppointment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CtDateRequestService)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cleaner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CtHoursRequested)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.IdServicePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(model => item.IdAppointment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CtDateRequestService)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cleaner.FCleanerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CtHoursRequested)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdServicePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCustomer)
            </td>
            <td>
                <a asp-action="Edit" asp-controller="Appointment" asp-route-id="@item.IdAppointment">Edit</a> |
                <a asp-action="Details" asp-controller="Appointment" asp-route-id="@item.IdAppointment">Details</a> |
                <a asp-action="Delete" asp-controller="Appointment" asp-route-id="@item.IdAppointment">Delete</a>

                @*<a asp-controller="Appointment" asp-action="Edit" >Edit</a> |
            <a asp-controller="Appointment" asp-action="Details">Details</a> |
            <a asp-controller="Appointment" asp-action="Delete">Cancel</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
