@model IEnumerable<Appointment>


@{
    ViewData["Title"] = "FutureAppointment";
}

@if (ViewBag.typeUser == "Cu")
{
    <h2>Future Appointments for Customers</h2>
}
else
{
    <h2>Future Appointments for Cleaners</h2>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdAppointment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CtDateRequestService)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cleaner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CtHoursRequested)
            </th>

            @if (ViewBag.typeUser == "Cu")
            {
                <th>
                    @Html.DisplayNameFor(model => model.ServicePrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.IdAppointment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CtDateRequestService)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cleaner.FCleanerName)
                    @Html.DisplayFor(modelItem => item.Cleaner.LCleanerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CtHoursRequested)
                </td>
                @if (ViewBag.typeUser == "Cu")
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.ServicePrice.ServicePriceDescr)
                        (@Html.DisplayFor(modelItem => item.ServicePrice.CtAmountHour) per hour)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)

                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FCustomerName)
                    @Html.DisplayFor(modelItem => item.Customer.LCustomerName)

                </td>
                @if (ViewBag.typeUser == "Cu")
                {
                    <td>
                        <a asp-action="Edit" asp-controller="Appointment" asp-route-id="@item.IdAppointment">Edit</a> |
                        <a asp-action="Details" asp-controller="Appointment" asp-route-id="@item.IdAppointment">Details</a> |
                        <a asp-action="Delete" asp-controller="Appointment" asp-route-id="@item.IdAppointment">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
