@model IEnumerable<CleanGuruApp.Models.ServicePrice>

@{
    ViewData["Title"] = "Index";
}

<h2>Cost Service</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>

                    @Html.DisplayNameFor(model => model.IdServicePrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ServicePriceDescr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CtAmountHour)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClAmountHour)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ServicePriceStatus)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdServicePrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServicePriceDescr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CtAmountHour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClAmountHour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServicePriceStatus)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdServicePrice">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdServicePrice">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdServicePrice">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
