@model IEnumerable<CleanGuruApp.Models.Customer>

@{
    ViewData["Title"] = "Registerd Customer";
}

<h2>List of Registered Customers</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Customer's ID
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Phone
            </th>
            <th>
                Email
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td id="FullName">
                @Html.DisplayFor(modelItem => item.IdCustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FCustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LCustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CtPhone1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CtEmail)
            </td>
        </tr>
        }
    </tbody>


</table>